

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >Attendence Management System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" >
          <li><a routerLink="/dashboard"  [routerLinkActive]="'active'" *ngIf="UserRole != 'Admin'">Dashboard</a></li>
          <li><a routerLink="/addTimeSheet"  [routerLinkActive]="'active'"  *ngIf="UserRole != 'Admin'">Timesheet</a></li>
          <li><a routerLink="/viewTimeSheet"  [routerLinkActive]="'active'" *ngIf="UserRole != 'Admin'">View Timesheet</a></li>
          <li><a routerLink="/managerviewTimeSheet"  [routerLinkActive]="'active'"   *ngIf="UserRole != 'Employee'">Manager View</a></li>
          <li><a routerLink="/calender"  [routerLinkActive]="'active'" >Calender</a></li>
          <li><a routerLink="/holiday" [routerLinkActive]="'active'" *ngIf="UserRole == 'Admin'">Holiday</a></li>
          <!-- <li><a routerLink="/dashboard" [class.active]="isShowClass" (click)="addClass()">Charts</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a class="dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton11" aria-expanded="false">Profile<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton11">
              <!-- <li><a routerLink="/changepassword" [routerLinkActive]="'active'" >Change Password</a></li> -->
              <li><a routerLink="/logout" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </li>        
        </ul>
      </div>
    </div>
  </nav>

 