

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Attendence Management System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" >
          <li class="active" routerLink="master" [routerLinkActive]="'active'"><a>Home</a></li>
          <li><a routerLink="/addTimeSheet">Timesheet</a></li>
          <li><a routerLink="/viewTimeSheet" [routerLinkActive]="'active'">View Timesheet</a></li>
          <li><a routerLink="/managerviewTimeSheet">Manager View</a></li>
          <li><a routerLink="/calender">Calender</a></li>
          <li><a routerLink="/holiday">Holiday</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         
           <!-- <li><a routerLink="/login" *ngIf = "!isLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
           <li><a routerLink="/logout" *ngIf = "isLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

 