

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Attendence Management System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" >
          <li><a routerLink="master" [class.active]="isShowClass" (click)="addClass()">Home</a></li>
          <li><a routerLink="/addTimeSheet" [class.active]="isShowClass" (click)="addClass()">Timesheet</a></li>
          <li><a routerLink="/viewTimeSheet" [class.active]="isShowClass" (click)="addClass()">View Timesheet</a></li>
          <li><a routerLink="/managerviewTimeSheet" [class.active]="isShowClass" (click)="addClass()">Manager View</a></li>
          <li><a routerLink="/calender" [class.active]="isShowClass" (click)="addClass()">Calender</a></li>
          <li><a routerLink="/holiday" [class.active]="isShowClass" (click)="addClass()">Holiday</a></li>
          <li><a routerLink="/chart" [class.active]="isShowClass" (click)="addClass()">Charts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         
           <!-- <li><a routerLink="/login" *ngIf = "!isLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
           <li><a routerLink="/logout" *ngIf = "isLoggedIn"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

 