 
 <div class="container">   
<div class="dropdown">
  <select name="demo" id="#" class="btn btn-default dropdown-toggle">
    <option selected="selected" value="select">Select Employee</option>
    <option value="one">Sherman Stoltenberg</option>
    <option value="two">Iva Glover</option>
  </select>  
</div>
<br/> 
  <table datatable [dtOptions]="dtOptions" class="row-border hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Week </th>
        <th>Suday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 17th july to 22nd july </td>
        <td> 0 </td>
        <td> 4 </td>
        <td> 8 </td>
        <td> 8 </td>
        <td>8</td>
        <td>4</td>
        <td>0</td>
        <td> <button type="submit" style="margin-left:10px;" class="btn btn-success btn-sm">Approve</button>&nbsp;&nbsp;
          <button type="submit" style="margin-left:10px;" class="btn btn-danger btn-sm">Reject</button>
        </td>
      </tr>
      <tr>
        <td> 17th july to 22nd july </td>
        <td> 0 </td>
        <td> 4 </td>
        <td> 8 </td>
        <td> 8 </td>
        <td>8</td>
        <td>4</td>
        <td>0</td>
        <td> <button type="submit" style="margin-left:10px;" class="btn btn-success btn-sm">Approve</button>&nbsp;&nbsp;
          <button type="submit" style="margin-left:10px;" class="btn btn-danger btn-sm">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>