
<form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Mon</th>
      <th scope="col">Tue</th>
      <th scope="col">Wed</th>
      <th scope="col">Thu</th>
      <th scope="col">Fri</th>
      <th scope="col">Sat</th>
      <th scope="col">Sun</th>
    </tr>
  </thead>
  
  <tbody>
  
    <tr>
      <td><input type="text" class="col-sm-6"></td>
      <td><input type="text" class="col-sm-6"></td>
      <td><input type="text" class="col-sm-6"></td>
      <td><input type="text" class="col-sm-6"></td>
      <td><input type="text" class="col-sm-6"></td>
      <td><input type="text" class="col-sm-6"></td>
      <td><input type="text" class="col-sm-6"></td>
    </tr>
    
  </tbody>
  <div class="row">
    <input type="button" class="btn btn-default" value="Cancel">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</table>
</form>