<!-- <script>
$(document).ready(function() {
  var table = $('#example').DataTable( {
      responsive: true
  } );
  new $.fn.dataTable.FixedHeader( table );
} ); -->
<!-- </script> -->
 
<div class="row">
  <form [formGroup]="fg" novalidate (ngSubmit)="onSubmit()">
    <div class="col-sm-2"><label style="margin-left:10px;">From</label>
      <input formControlName="dateFrom" type="date" class="btn btn-default" useValueAsDate style="margin-left:10px;" />
    </div>
    <div class="col-sm-2"><label>To</label><br/>
      <input formControlName="dateTo" type="date" class="btn btn-default" useValueAsDate
         />
    </div>
 
      <button type="submit"  class="btn btn-primary" style="margin-top:22px" [disabled]="fg.invalid">Submit</button>
      <label *ngIf="fg.errors">{{ fg.errors?.dates | json }}</label>
   

  </form>
 
</div>

<!-- <form >
    <label for="birthday" style="margin-left:10px;"> Period: </label>
    <br/>
    <input type="date" id="fromdate" style="margin-left:10px;" [(ngModel)]="fromdate" [ngModelOptions]="{standalone: true}">
    <label for="to" style="margin-left:5px;margin-right:5px;"> to </label>
    <input type="date" id="todate" [(ngModel)]="todate" [ngModelOptions]="{standalone: true}">
    <button type="submit" value="Submit" text="Submit" (click)="flterRecord()" style="margin-left:10px;" class="btn btn-primary">
  Submit</button>
  </form> -->
<br />
 

  <table id="exampleTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="row-border hover table-striped table-bordered nowrap">
    <thead>
      <tr>
        <th>Week Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total Working Hours</th>
        <th>Year</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngIf="timesheetData?.length != 0">
      <tr *ngFor="let timesheet of timesheetData">
        <td> {{ timesheet.WeekNumber }} </td>
        <td> {{ timesheet.StartDate | date: 'MM/dd/yyyy' }} </td>
        <td> {{ timesheet.EndDate | date: 'MM/dd/yyyy' }} </td>
        <td> {{ timesheet.TotalWorkingHours }} </td>
        <td>{{ timesheet.Year}} </td>
        <td > {{ (timesheet.ApprovedStatus == 'NONE' && (timesheet.MarkedStatus == 'MARKED' ||  timesheet.MarkedStatus == 'REMARKED')) ? 'PENDING' : (timesheet.ApprovedStatus == 'APPROVED' && (timesheet.MarkedStatus == 'MARKED' ||  timesheet.MarkedStatus == 'REMARKED')) ? 'APPROVED' : (timesheet.ApprovedStatus == 'REJECTED' && (timesheet.MarkedStatus == 'MARKED' ||  timesheet.MarkedStatus == 'REMARKED')) ? 'REJECTED' : '-' }} </td>
      </tr>
    </tbody>
    <tbody *ngIf="timesheetData?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available" style="text-align:center;">No matching records found</td>
      </tr>
    </tbody>

  </table>
 