<!-- <script>
$(document).ready(function() {
  var table = $('#example').DataTable( {
      responsive: true
  } );
  new $.fn.dataTable.FixedHeader( table );
} ); -->
<!-- </script> -->
<form [formGroup]="fg" novalidate (ngSubmit)="onSubmit()">
  <label for="period" style="margin-left:10px;"> Period: </label>
  <br />
  <input formControlName="dateFrom" type="date" useValueAsDate style="margin-left:10px;" />
  <input formControlName="dateTo" type="date" useValueAsDate style="margin-left:5px;margin-right:5px;" />

  <button type="submit" style="margin-left:10px;" class="btn btn-primary" [disabled]="fg.invalid">Submit</button>
  <label *ngIf="fg.errors">{{ fg.errors?.dates | json }}</label>

</form>

<!-- <form >
    <label for="birthday" style="margin-left:10px;"> Period: </label>
    <br/>
    <input type="date" id="fromdate" style="margin-left:10px;" [(ngModel)]="fromdate" [ngModelOptions]="{standalone: true}">
    <label for="to" style="margin-left:5px;margin-right:5px;"> to </label>
    <input type="date" id="todate" [(ngModel)]="todate" [ngModelOptions]="{standalone: true}">
    <button type="submit" value="Submit" text="Submit" (click)="flterRecord()" style="margin-left:10px;" class="btn btn-primary">
  Submit</button>
  </form> -->

<div class="container">
  <h2>Timesheet</h2>
  <table id="exampleTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="row-border hover table-striped table-bordered nowrap">
    <thead>
      <tr>
        <th>Week Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total Working Hours</th>
        <th>Year</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngIf="timesheetData?.length != 0">
      <tr *ngFor="let timesheet of timesheetData">
        <td> {{ timesheet.WeekNumber }} </td>
        <td> {{ timesheet.StartDate | date: 'MM/dd/yyyy' }} </td>
        <td> {{ timesheet.EndDate | date: 'MM/dd/yyyy' }} </td>
        <td> {{ timesheet.TotalWorkingHours }} </td>
        <td>{{ timesheet.Year}} </td>
        <td> Approved </td>
      </tr>
    </tbody>
    <tbody *ngIf="timesheetData?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available" style="text-align:center;">No matching records found</td>
      </tr>
    </tbody>

  </table>
</div>