<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Change Password</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label for="inputPasswordOld" class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-5">
                    <input type="password" formControlName="currentPassword" class="col-sm-5 form-control "
                        id="inputPasswordOld" required="">
                </div>
                <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.currentPassword.errors.required"  class="text-danger">Current Password Is Required</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordNew" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-5">
                    <input type="password" formControlName="newPassword" class="form-control" id="inputPasswordNew"
                        required="">
                    <!-- <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                    </span> -->

                </div>
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required"  class="text-danger">New Password Is Required</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordNew" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="confirmPassword" class="form-control" id="inputPasswordNew"
                        required="">

                </div>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required"  class="text-danger">Confirm Password Is Required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch"  class="text-danger">Passwords Must Match</div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
            </div>

        </form>
    </div>
</div>